<div class="hamburger-container">
    <div routerLink="/home-menu"><img src="https://cdn.iconscout.com/icon/free/png-512/home-1240-546909.png?f=avif&w=256">Home</div>
    <div routerLink="/quick-create-product"><img src="https://cdn.iconscout.com/icon/free/png-512/math-3610319-3015079.png?f=avif&w=256">Quick Create</div>
    <div routerLink="/create-product"><img src="https://cdn.iconscout.com/icon/free/png-512/create-14-267550.png?f=avif&w=256">Create</div>
    <div *ngIf="userType==='admin'"><img src="https://cdn.iconscout.com/icon/free/png-256/settings-gear-preferences-wrench-optimization-seo-web-1-7229.png?f=avif&w=128">Settings</div>
</div>
