<div class="create-container">
    <p class="message-p">{{ successMessage }}</p>


    <div *ngIf="productId === null; else elseblock">

        <h1>Create Product Here!</h1>

        <form class="form-container" [formGroup]="createProductForm" (ngSubmit)="saveProduct()">
            <div>
                <input type="text" placeholder="Enter Product Name.." class="input-form" formControlName="pname">
                <input type="text" placeholder="Enter Expiry Date.." class="input-form" onfocus="(this.type = 'date')"
                    onblur="(this.type = 'text')" formControlName="expiry">
            </div>
            <div>
                <input type="number" placeholder="No. of items in th stock.." class="input-form"
                    formControlName="stock">
                <input type="text" placeholder="Enter the Heading.." class="input-form" formControlName="heading">
            </div>
            <div>
                <input type="text" placeholder="Enter the Subheading.." class="input-form subheading"
                    formControlName="subheading">
            </div>
            <textarea type="textarea" placeholder="Enter the Product Description.." class="textarea-form"
                formControlName="description"></textarea>
            <div>
                <input type="text" placeholder="Minimum days to deliver.." class="input-form"
                    onfocus="(this.type = 'date')" onblur="(this.type = 'text')" formControlName="mindays">
                <input type="text" placeholder="Maximum days to deliver.." class="input-form"
                    onfocus="(this.type = 'date')" onblur="(this.type = 'text')" formControlName="maxdays">
            </div>

            <div formArrayName="tags" class="tags">
                <div *ngFor="let tag of createProductForm.get('tags')['controls']; index as i">
                    <input type="text" placeholder="Tags.." class="input-form input-tags" formControlName="{{i}}">
                </div>
            </div>
            <span (click)="addInputTags()">Add Tags +</span>
            <p class="error-p">{{ successMessage }}</p>



            <div>
                <input type="submit" value="Save" class="input-button" [disabled]="!createProductForm.valid">
                <input type="button" value="Cancel" class="input-button" (click)="onCancel()">
            </div>

        </form>


    </div>


    <ng-template #elseblock>
        
        <h1>Edit Product Here!</h1>
        
        <form class="form-container" [formGroup]="createProductForm" (ngSubmit)="editProduct()">
            <div>
                <input type="text" placeholder="Enter Product Name.." class="input-form" formControlName="pname"
                    [(ngModel)]="productData.pname">
                <input type="text" placeholder="Enter Expiry Date.." class="input-form" onfocus="(this.type = 'date')"
                    onblur="(this.type = 'text')" formControlName="expiry" [(ngModel)]="productData.expiry">
            </div>
            <div>
                <input type="number" placeholder="No. of items in th stock.." class="input-form" formControlName="stock"
                    [(ngModel)]="productData.stock">
                <input type="text" placeholder="Enter the Heading.." class="input-form" formControlName="heading"
                    [(ngModel)]="productData.heading">
            </div>
            <div>
                <input type="text" placeholder="Enter the Subheading.." class="input-form subheading"
                    formControlName="subheading" [(ngModel)]="productData.subheading">
            </div>
            <textarea type="textarea" placeholder="Enter the Product Description.." class="textarea-form"
                formControlName="description" [(ngModel)]="productData.description"></textarea>
            <div>
                <input type="text" placeholder="Minimum days to deliver.." class="input-form"
                    onfocus="(this.type = 'date')" onblur="(this.type = 'text')" formControlName="mindays"
                    [(ngModel)]="productData.mindays">
                <input type="text" placeholder="Maximum days to deliver.." class="input-form"
                    onfocus="(this.type = 'date')" onblur="(this.type = 'text')" formControlName="maxdays"
                    [(ngModel)]="productData.maxdays">
            </div>

            <div formArrayName="tags" class="tags">
                <div *ngFor="let tag of createProductForm.get('tags')['controls']; index as i">
                    <input type="text" placeholder="Tags.." class="input-form input-tags" formControlName="{{i}}"
                        [(ngModel)]="productData.tags[i]">
                </div>
            </div>
            <span (click)="addInputTags()">Add Tags +</span>
           


            
            <input type="submit" value="Edit" class="input-button">
            
        </form>

    </ng-template>






</div>