button {
    display: flex;
    justify-content: flex-end;
}
    

.details-container {
    background-color: #A2A8D3;
    width: 500px;
    padding: 100px 50px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}

h1 {
    color: #113F67;
    margin-top: 40px;
    margin-bottom: 30px;
}

span {
    color: #E7EAF6;
    font-size: 18px;
    font-weight: bold;
}

p{
    color: black;
    font-size: 15px;
    font-weight: lighter;
    /* font-style: italic; */
    margin-bottom: 5px ;
}