.settings {
    display: flex;


}

.settings-container {
    background-color: #38598B;
    width: 400px;
    padding: 80px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    border-radius: 60px;
    align-items: center;

}

h1 {
    color: #E7EAF6;
    margin-top: 50px;
    margin-bottom: 30px;
}

form div {
    display: flex;
    justify-content: space-between;
    border: 1px solid #A2A8D3;
    border-collapse: collapse;
    color: #E7EAF6;
    padding: 10px 30px;
    font-size: 15px;
}

form div:hover {
    background-color: #556e94;
}

form div input {
    margin-left: 20px;
}

p {
    text-align: center;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    margin: 18px;
}

p input {
    /* height: 30px;
    width: 60px; */
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    font-size: 15px;
}

p input[type='submit'] {
    background-color: #E7EAF6;
    color: #113f67;

}

p input[type='button']{
    background-color: #A2A8D3;
    color: #113f67;
}

p input:hover[type='submit'] {
    background-color: #e7eaf69a;
}

p input:hover[type='button']{
    background-color: #a2a8d37c;
}