<div class="home-container">
    <h1>List of all the Products</h1>
    <p class="message-p">{{ productDeleteMessage }}</p>
    <div class="searchbar">
        <div class="searchbox1">
            <input type="text" class="searchbox" placeholder="Search here.." [(ngModel)]="searchkeyWord">
            <button class="button-icon" (click)="search()">Search</button>
        </div>
        

        <form [formGroup]="searchbox2">
            <input type="text" class="searchbox" placeholder="Search here through RXJX.." ngModel formControlName="query">
        </form>

        <ng-container *ngIf="isAnyCheckboxTicked || products.length != 0">
            <button *ngIf="objectLength()" (click)="deleteSelectedProducts()" class="deleteButton">Delete Products</button>
        </ng-container>
    </div>
    
    
    <table>
        <thead>
            <tr>
                <th>S No.</th>
                <th></th>
                <th>PRODUCT NAME</th>
                <th>HEADING</th>
                <th>SUBHEADING</th>
                <th class="stockth">
                    STOCK
                    <div>
                        <img (click)="descendingOrder()" src="https://cdn.iconscout.com/icon/free/png-512/sort-ascending-3602979-3005186.png?f=avif&w=256">
                        <img (click)="ascendingOrder()" src="https://cdn.iconscout.com/icon/free/png-512/sort-descending-3602980-3005187.png?f=avif&w=256">
                    </div>
                </th>
                <th>EXPIRY DATE</th>
                <th>DESCRIPTION</th>
                <th>TAGS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>

        <tbody *ngIf="!searchkeyWord">
            <tr *ngFor="let product of products; index as i">
                <td class="sno">{{ i+1 }}.</td>
                <td><input type="checkbox" class="checkbox" (change)="checkboxValueChanged($event, product.id)"></td>
                <td routerLink="/product-details/{{product.id}}">{{ product.pname }}</td>
                <td>{{ product.heading }}</td>
                <td>{{ product.subheading }}</td>
                <td>{{ product.stock }}</td>
                <td class="nowrap">{{ product.expiry }}</td>
                <td class="description">{{ product.description }}</td>
                <td>{{ product.tags }}</td>
                <td>
                    <button class="edit" routerLink="/edit-product/{{product.id}}">Edit</button>
                    <button class="delete" (click)="removeProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="searchkeyWord">
            <tr *ngFor="let product of searchArray; index as i">
                <td class="sno">{{ i+1 }}.</td>
                <td><input type="checkbox" class="checkbox"></td>
                <td routerLink="/product-details/{{product.id}}">{{ product.pname }}</td>
                <td>{{ product.heading }}</td>
                <td>{{ product.subheading }}</td>
                <td>{{ product.stock }}</td>
                <td class="nowrap">{{ product.expiry }}</td>
                <td class="description">{{ product.description }}</td>
                <td>{{ product.tags }}</td>
                <td class="action">
                    <button class="edit" routerLink="/edit-product/{{product.id}}">Edit</button>
                    <button class="delete" (click)="removeProduct(product.id)">Delete</button>
                </td>
            </tr>
        </tbody>

        
        
    </table>
</div>