.home-container {
    width: 100%;
}

h1 {
    text-align: center;
    color: #113F67;
    margin-top: 50px;
    margin-bottom: 20px;
}

.stockth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.deleteButton {
    padding: 7px 10px;
    background-color: rgb(196, 3, 3);
    height: 30px;
    border-radius: 1px;
    color: #E7EAF6;
    border: none;
    font-size: 12px;
    width: 60%;
    margin-left: 0;
}

.deleteButton:hover {
    background-color: rgba(196, 3, 3, 0.648);
}

img {
    height: 20px;
    width: 20px;
}

.searchbar {
    display: grid;
    grid-template-columns: 350px 1fr 200px;
    margin-bottom: 4px;
}

.searchbox {
    width: 250px;
    border: 2px solid #113F67;
    background-color: #E7EAF6;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    font-size: 14px;
    height: 30px;
}

.searchbox1 {
    display: flex;
}

form .searchbox {
    border-radius: 15px;
    margin-left: 4px;
    width: 90%;
}

.button-icon {
    font-size: 10px;
    border-radius: 0px 20px 20px 0px;
    width: 40px;
    border: 2px solid #113F67;
    background-color: #38598B;
    color: #E7EAF6;
    padding: 6px;
    border-left: none;
    height: 30px;
}

.button-icon:hover {
    background-color: #38598ba8;
}

.pname:hover {
    font-weight: bold;
}
