.home-container {
    width: 100%;
}

h1 {
    text-align: center;
    color: #113F67;
    margin-top: 50px;
    margin-bottom: 20px;
}

.stockth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.deleteButton {

    right: 0;
    padding: 7px 10px;
    background-color: rgb(196, 3, 3);
    height: 30px;
    border-radius: 1px;
    color: #E7EAF6;
    border: none;
    font-size: 12px;
}

img {
    height: 20px;
    width: 20px;
}

.searchbar {
    display: flex;
    margin-bottom: 4px;
    


}

.searchbox {
    width: 250px;
    border: 2px solid #113F67;
    background-color: #E7EAF6;
    border-radius: 15px 0px 0px 15px;
    padding: 10px;
    font-size: 14px;
    height: 30px;
}

form .searchbox {
    border-radius: 15px;
    margin-left: 4px;
}

.button-icon {
    font-size: 10px;
    border-radius: 0px 20px 20px 0px;
    width: 40px;
    border: 2px solid #113F67;
    background-color: #38598B;
    color: #E7EAF6;
    padding: 5px;
    border-left: none;
    height: 30px;
}

@media screen and (min-width: 1350px) {
    form .searchbox {
        width: 400px;
    }
}