.container{
    display: flex;
    justify-content: center;
}

app-form {
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 25px;
}

app-listofusers{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 25px;
    background-color: rgb(237, 237, 254);
}

h1, h2{
    padding: 2px;
}