<!-- <div>
    <h2>Please, fill out the form</h2>
    <form action="">
        <label>Name:</label>
        <input type="text" required>

        <label>College Name:</label>
        <input type="text">

        <label>Degree:</label>
        <select required>
            <option value="B.Tech">B.Tech</option>
            <option value="BSC">BSC</option>
            <option value="M.Tech">M.Tech</option>
            <option value="BBA">BBA</option>
        </select>

        <label>Any other specialization:</label>
        <input type="text">

        <button>Save!</button>
        <button>Cancel</button>
    </form>
</div>
 -->

<div class="form">
    <h2>Please, fill out the form</h2>

    <form action="">
        <div >
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name.." required>
          
            <label for="cname">College Name</label>
            <input type="text" id="cname" placeholder="Your College name..">
           
            <label for="degree">Degree</label>
            <select id="degree" name="degree" required>
                <option value="B.Tech">B.Tech</option>
                <option value="M.Tech">M.Tech</option>
                <option value="MBA">MBA</option>
                <option value="MBBS">MBBS</option>
                <option value="BCA">BCA</option>
            </select>
    
            <label for="specialization">Any Other specialization</label>
            <input type="text" id="specialization">
           
            <input type="submit" value="Submit" id="btn">
            <input type="button" value="Cancel" id="btn" >
        </div>
    </form>
  
        
      
  </div>
 