<div class="form">
    <h2>Please, fill out the form</h2><br>

    <form (ngSubmit)="onSubmit()" #myform="ngForm">
        <div >
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Your name.." required name="name" [(ngModel)]="Name" #name="ngModel">
            <div *ngIf="name.invalid && name.touched">
                <small>Name is the required field.</small>
            </div>

          
            <label for="cname">College Name</label>
            <input type="text" id="cname" placeholder="Your College name.." name="cname" [(ngModel)]="CName">
           
            <label for="degree">Degree</label>
            <select id="degree" name="degree" required name="degree" [(ngModel)]="defaultDegree" #degree="ngModel">
                <option value="B.Tech">B.Tech</option>
                <option value="M.Tech">M.Tech</option>
                <option value="MBA">MBA</option>
                <option value="MBBS">MBBS</option>
                <option value="BCA">BCA</option>
            </select>
            <div *ngIf="degree.invalid && degree.touched">
                <small>Degree is the required field.</small>
            </div>

    
            <label for="specialization">Any Other specialization</label>
            <input type="text" id="specialization" name="specialization" [(ngModel)]="Specialization">
           
            <input type="submit" value="Save" id="btn" [disabled]="!myform.valid" (click)="addUser()">
            <input type="button" value="Cancel" id="btn" (click)="clearAll()" >
        </div>
    </form>
     
  </div>
 