.welcome-container {
    background-color: #113F67;
    width: 700px;
    padding: 100px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

h1 {
    color: white;
    margin: 20px 0px;
    font-size: 40px;
}

h3 {
    color: #A2A8D3;
    font-size: 30px;
}

.welcome-container div {
    margin-top: 20px;
    font-size: 18px;
    color: #e7eaf6;
}

input {
  appearance: none;
  background-color: #fff;
  margin: 0.3em 0.3em;
  font: inherit;
  color: currentColor;
  width: 0.7em;
  height: 0.7em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    margin-bottom: 0.2em;
}

label:hover {
    font-weight: bold;
}

:root {
    --form-control-color: rebeccapurple;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  @media screen and (max-width: 1060px) {
    .welcome-container{
        width: 500px;
        padding: 80px;
    }
  }

  @media screen and (max-width: 550px){
    .welcome-container{
        width: 300px;
        padding: 50px;
    }
  }

  @media screen and (max-width: 300px){
    .welcome-container{
        width: 200px;
        padding: 50px;
    }

    h1 {
        margin: 20px 0px;
        font-size: 30px;
    }
    
    h3 {
        font-size: 20px;
    }

    label {
        font-size: 15px;
    }
}
  
