.welcome-container {
    background-color: #113F67;
    width: 700px;
    padding: 100px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

h1 {
    color: white;
    margin: 20px 0px;
    font-size: 40px;
}

h3 {
    color: #A2A8D3;
    font-size: 30px;
}

.welcome-container div {
    margin-top: 20px;
    font-size: 18px;
    color: #e7eaf6;
}

input {
    margin: 0px  5px;
}
