<div class="header-container">
    <div class="logo-head">
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/data-hub-8053491-6433452.png?f=avif&w=256">
        <h3>Product-List App</h3>
    </div>

    <!-- <div [ngSwitch]="menuType"> -->
        <ul *ngIf="menuType">
            <li>{{ adminName }}</li>
            <li routerLink="/sign-up" (click)="logout()">Logout</li>
        </ul>

       
        <!-- <ul *ngSwitchCase="'admin'">
            <li>{{ adminName }}</li>
            <li routerLink="/sign-up" (click)="logout()">Logout</li>
        </ul> -->

        <!-- <ul *ngSwitchDefault >
        </ul> -->
    
</div>