<div class="header-container">
    <div class="logo-head">
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/data-hub-8053491-6433452.png?f=avif&w=256">
        <h3>Product-List App</h3>
    </div>

    <ul *ngIf="userLoggedIn() && showAdmin && menuType==='user'; else my">
        <li>{{ adminName }}</li>
        <li (click)="logout()">Logout</li>
    </ul>

    <ng-template #my>
        <ul *ngIf="adminLoggedIn() && showAdmin && menuType==='admin'">
            <li>{{ adminName +' (Admin)' }}</li>
            <li (click)="logout()">Logout</li>
        </ul>
    </ng-template> 
</div>