.header-container {
    background-color: #113F67;
    display: flex;
    padding: 25px 10px;
    justify-content: space-between;
    align-items: center;
}

.logo-head {
    display: flex;
}

.header-container img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.header-container h3 {
    font-size: 32px;
    color: #E7EAF6;
}

.header-container ul {
    list-style: none;
    display: flex;
    color: #A2A8D3;
    font-size: 15px;
}

.header-container ul li {
    margin-right: 10px;
}

